.timeTableBody{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  box-sizing: border-box;
  .lessonRow{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin: 2px 0;
    .day{
      background-color: #eee1aa;
      padding: 10px;
      width: 23vw;
      margin: 0 10px 0 0;
    }
    .lesson{
      text-align: center;
      background-color: #eab589;
      border-radius: 4px;
      width: 26vw;
      padding: 6px 0;
      margin-right: 10px;
      :nth-child(2n){
        border: 1px solid	#94c5a1;
        border-radius: 50%;
        margin: 5px;
        padding: 2px 7px;
      }
    }
  }
}