.App{
  flex: 1;
  height: 100vh;
  .container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    .sideBar{
      display: flex;
      flex: 1;
      width: 15%;
      background-color: #eee1aa;
      flex-direction: column;
      align-items: center;
      .sideBarLogo{
        font-size: 5em;
        margin-top: 30px;
        background-color: #b3ddb4;
        padding: 30px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
      }
      .sideBarOptions{
        display: flex;
        flex-direction: column;
        margin-top: 7vh;
        :nth-child(1n){
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 2vh 0;
          padding: 0 10px;
          margin: 10;
          font-size: 1.2em;
          cursor: pointer;
          &:active{
            transform: scale(0.9);
            transition: all 0.1s ease-in-out;
          }
          :first-child{
            padding-right: 20px;
          }
        }
      }
    }
    .mainContent{
      padding-top: 4vh;
      display: flex;
      flex-direction: column;
      background-color: #f2d1a9;
      width: 80%;
      .header{
        padding-left: 2vw;
      }
      .timeTableGrid{
        display: flex;
        flex-direction: column;
        margin: 20px;
        .timeTableHead{
          display: flex;
          flex-direction: row;
          align-items: center;
          :nth-child(1n){
            text-align: center;
            background-color: #94c5a1;
            width: 26vw;
            padding: 6px 0;
            margin-right: 10px;
          }
        }
        .timeTableBody{
          display: flex;
          flex-direction: column;
          margin: 10px 0;
          .lessonRow{
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: center;
            margin: 2px 0;
            .day{
              background-color: #eee1aa;
              padding: 10px;
              width: 23vw;
              margin: 0 10px 0 0;
            }
            .lesson{
              text-align: center;
              background-color: #eab589;
              border-radius: 4px;
              width: 26vw;
              padding: 6px 0;
              margin-right: 10px;
              :nth-child(2n){
                border: 1px solid	#94c5a1;
                border-radius: 50%;
                margin: 5px;
                padding: 2px 7px;
              }
            }
          }
        }
      }
    }
  }
}