body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.makeStyles-modal-11{
  .makeStyles-form-13{
    .MuiFormControl-root{
      padding: 10px;
      .MuiFormLabel-root{
        margin: 0 0 0 1vw;
      }
      .MuiInputBase-formControl{
        margin: 5px;
        min-width: 9vw;
        .MuiInputBase-input{
        }
      }
      .MuiButtonBase-root{
        background-color: black;
        color: white;
      }
    }
  }
}

.makeStyles-modal-15{
  .makeStyles-form-17{
    .MuiFormControl-root{
      padding: 10px;
      // .MuiFormLabel-root{
      //   margin: 0 0 0 1vw;
      // }
      .MuiInputBase-formControl{
        margin: 5px;
        min-width: 9vw;
        .MuiInputBase-input{
        }
      }
      .MuiButtonBase-root{
        background-color: black;
        color: white;
      }
    }
  }
}